DATABASE_URL="file:./dev.db"
JWT_SECRET="buildvestzk-hackathon-secret"
STELLAR_SECRET_KEY="" # Testnet secret key (S...)
STELLAR_NETWORK="testnet" # testnet or public
STELLAR_HORIZON_URL="https://horizon-testnet.stellar.org"
SOROBAN_RPC_URL="https://soroban-testnet.stellar.org"
SOROBAN_VERIFIER_CONTRACT_ID=""

# Deployment
FRONTEND_URL="" # e.g. https://buildvestzk.vercel.app
PORT=3000
